/* Side Navigation Bar */
.navlinks {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,255,126,1) 0%, rgba(0,255,194,1) 100%);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navlinks a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    padding-left: 50px;
    text-decoration:none ;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;

  }
  
  .navlinks a:active,
  .navlinks a:hover{
    color: #00AFEC;
    text-decoration:underline;
  }

  .navlinks a.active {
    color: #00AFEC;
    text-decoration:underline;
}
.navlogo{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 10%;
    margin-left: 15px;
    position: fixed;
    z-index: 11;
    width: 8%;
}
/* _____________________________________________________________________________________________________ */
  body {
    /* background: rgb(108,187,200); */
    background: linear-gradient(90deg, rgba(108,187,200,1) 0%, rgba(17,79,91,1) 100%);
    /* background-color: rgb(108,187,200); */

  }
/* _____________________________________________________________________________________________________ */
.cvplate{
    z-index: 2;
    position: absolute;
    left:240px;
    top: 0;
    background-color: white;
    height: 600%;
    width: 1400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a drop shadow */

}

.portrait {
    position: absolute;
    z-index: -1;
    left: 690px;
    top: -30px;
}
/* __________________________________HOME___________________________________________________________________ */
/* .homelink{
    margin-top: -50px;
} */
.homelink h1{
    font-family: "Inter", sans-serif;
    color: rgb(24, 94, 160) ;
    margin-top: 66px;
    padding-left: 40px;
    font-size: 2.7em;
}
.homelink h2{
    font-family: "Inter", sans-serif;
    font-size: 9.5em;
    padding-left: 40px;
    margin-top: -20px;
}
.homelink h3{
    margin-top: -50px;
    font-family: "Inter", sans-serif;
    padding-left: 40px;
    font-weight: 500;
    font-size: 1.6em;
    color: #5E7583;
}
.homelink hr{
    height: 10px;
    margin-left: 10px;
    margin-top: 60px;
    border-width: 0;
    width: 350px;
    background-color: #185EA0;
}
/* .resumeviewbtn{
    display: block;
    margin-top: 135px;
}
.resume{
    display: inline-block;
    font-family: "Inter", sans-serif;
    border-width: 0;
    background-color: #00EC97;
    padding: 35px;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    width: 700px;
} */
.homebtncontainer{
    display: flex;

}
.resumeviewbtn{
    float: left;
    --width: 700px;
    --height: 99px;
    --tooltip-height: 35px;
    --tooltip-width: 200px;
    --gap-between-tooltip-to-button: 7px;
    --button-color: #00EC97;
    --tooltip-color: none;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    transition: background 0.3s;
    background-color: #00EC97;
     display: inline-block;
    font-family: "Inter", sans-serif;
        font-size: 1.5em;
      font-weight: bolder;
      color: white;
      display: block;
      margin-top: 135px;
      border-width: 0;
  }
  .resumeviewbtn span{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

  }
  .resumeviewbtn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    /* border-radius: .25em; */
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .resumeviewbtn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border:none;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .resumeviewbtn::after,.resumeviewbtn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .resume{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resumedlbtn,.resume,.download-icon{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #ffffff;
  }
  
  .resume{
    top: 0;
    background-color: #00EC97; 
    border: none;
  }
  .resume span{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .resume,.download-icon{
    transition: top 0.5s;
  }
  
  .download-icon{
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download-icon:hover{
    transform: scale(2);
    transition: 0.5s;
  }
  
  .download-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .resumeviewbtn:hover {
    background: #006ACB;
  }
  
  .resumeviewbtn:hover .resume{
    top: -100%;
  }
  
  .resumeviewbtn:hover .download-icon{
    top: 0;
  }
  
  .resumeviewbtn:hover:before,.resumeviewbtn:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .resumeviewbtn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .resumeviewbtn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  


/* .viewportfolio {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    display: inline-block;
    position: absolute;
    border-width: 0;
    background-color: #006ACB;
    padding: 35px;
    font-weight: bolder;
    color: white;
    width: 700px;
} */
/* .viewportfolio:hover {
    text-decoration:underline;
    transform: scale(1.3);
}
.resume:hover {
    text-decoration:underline;
    transform: scale(1.3);
} */

/* .resume:hover span, .viewportfolio:hover span {
    text-decoration: underline;
    transform: scale(1.1);
}
.resume span, .viewportfolio span {
    display: inline-block;
    transition: transform 0.2s ease;
} */
.portfolioviewbtn{
    --width: 700px;
    --height: 99px;
    --tooltip-height: 35px;
    --tooltip-width: 120px;
    --gap-between-tooltip-to-button: 7px;
    --tooltip-border-radius: 440px;
    --button-color: #006ACB;
    --tooltip-color: white;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    transition: background 0.3s;
    background-color: #006ACB;
    display: block;
    font-family: "Inter", sans-serif;
        font-size: 1.5em;
      font-weight: bolder;
      color: white;
      display: block;
      margin-top: 135px;
      border-width: 0;
  }
  .portfolioviewbtn span{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

  }
  .portfolioviewbtn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    /* border-radius: .25em; */
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .portfolioviewbtn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border:none;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .portfolioviewbtn::after,.portfolioviewbtn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .portfoliohomebtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .viewportfoliobtn,.portfoliohomebtn,.view-icon{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #ffffff;
  }
  
  .portfoliohomebtn{
    top: 0;
    background-color: #006ACB; 
    border: none;
  }
  .portfoliohomebtn span{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .portfoliohomebtn,.view-icon{
    transition: top 0.5s;
  }
  
  .view-icon{
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-icon:hover{
    transform: scale(2);
    transition: 0.5s;
  }
  
  .view-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .portfolioviewbtn:hover {
    background: #00EC97;
  }
  
  .portfolioviewbtn:hover .portfoliohomebtn{
    top: -100%;
  }
  
  .portfolioviewbtn:hover .view-icon{
    top: 0;
  }
  
  .portfolioviewbtn:hover:before,.portfolioviewbtn:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .portfolioviewbtn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .portfolioviewbtn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

/* ____________________________ABOUT_________________________________________________________________________ */
.aboutlink{
    display: block;
}
.aboutlink h1{
    font-family: "Inter", sans-serif;
    font-size: 128px;
    padding-left: 40px;
    margin-top: 20px;
}
.aboutlink hr{
    height: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-width: 0;
    width: 350px;
    background-color: #185EA0;
}
.aboutlink p1{
    display: block;
    font-family: "Inter", sans-serif;
    padding: 10px 40px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.6;
    margin-top: -80px;
    text-indent: 5%;
}
.aboutlink h2{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    padding-left: 40px;
    margin-top: -15px;

}
.aboutlink p3{
    display: block;
    font-family: "Inter", sans-serif;
    padding: 10px 40px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.6;
    margin-top: -40px;
    text-indent: 5%;
}


.profile-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
}



.profile-skills > div {
	width: 32%;
	margin-right: 3%;

	border-radius: 2px;
	position: relative;
}
.profile-skills {
	display: flex;
	top: 150px;
	position: relative;
	width: 100%;
	align-items: flex-start;
}
:root {
	--c1: #006ACB;
	--b2: rgb(255, 255, 255);
	--b3: #333;
	--w1: #fff;
	--w2: #eee;
	--t1: all 0.5s ease 0s;
}
/* *:before,
*:after {
	box-sizing: border-box;
	content: "";
} */


.skillmeter {
	width: 60vw;
	margin-top: -130px;

}

.profile-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
	height: 43vh;
}
.toolskills{
	margin-top: -400px;
	
}
.toolbtn{
	position: relative;
}

.skill-button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.skill-button:hover {
    color: #006ACB;
    transform: scale(1.1);
}

.skillbtn:active, .toolbtn:active{
	color: #006ACB;
	text-decoration: underline;
    transform: scale(1.1);
}
.skillbtn:focus, .toolbtn:focus{
	color: #006ACB;
	text-decoration: underline;
    transform: scale(1.1);
}


.skills {
    width: 100%;
    position: relative;
}

.skills1 {
    background: white;
	z-index: 2;
    display: block; /* Always visible */
}

.skills2 {
    display: none; 
	background: white;
}


ul.skills:before  {
    font-family: "Inter", sans-serif;
	/* content: "SKILLS"; */
	/* text-transform: uppercase; */
	position: absolute;
	top: -30px;
	height: 50px;
	color: black;
	/* background-color: var(--b2); */
	width: 100%;
	left: 0;
    padding-left: 40px;
    display: block;
	/* padding: 15px 15px 0 0; */
	/* text-align: end; */
	font-weight: bold;
	/* z-index: 1; */
	transition: var(--t1);
	font-size: 25px;
	line-height: 35px;
	/* transform: scaleY(1.65); */
}

/* ul.skills2:before {
	margin-left: 200px;
} */

/* ul.skills:hover:before,
label:hover + ul.skills:before,
input:checked + label + ul.skills:before {
	transition: var(--t1);
	background-position: 0 50%;
} */
/* ul.skills:hover:after,
label:hover + ul.skills:after,
input:checked + label + ul.skills:after {
	top: -20px;
	transition: var(--t1);
} */

ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
	transition: var(--t1);
	/* background-color: #2187e7; */
	background-position: 0 50%;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
	top: -20px;
	transition: var(--t1);
	/* border-top-color: #2187e7; */
}


ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
}

ul.skills li:before {
    content: "";
    position: absolute;
    background: #c1c1c141;
    height: 13px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.skills2 li {
	--per: 50;
	--dur: calc(calc(var(--per) / 100) * 1.5s);
	margin: 0 0 5px 0;
	list-style: none;
	padding: 20px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
}
ul.skills2 li:before {
	content: "";
	position: absolute;
	background: #c1c1c141;
	height: 13px;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #01FF76;
    border-radius: 20px;
    position: absolute;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1.3s ease 0s 2 alternate;
}

ul.skills2 li:after {
	content: "";
	height: 11px;
	margin: 0 0 2px 0;
	background: #01c4ff;
    border-radius: 20px;
	position: absolute;
	/* box-shadow: 0px 0px 10px 1px #00c6ff66; */
	left: 3px;
	width: 0%;
	bottom: 0;
	transition: all var(--dur) ease 0s;
	animation: start 1.3s ease 0s 2 alternate;
}

ul.skills li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}
ul.skills2 li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}


ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #01FF76;
    border-radius: 20px;
    position: absolute;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1.3s ease 0s 2 alternate;
}

ul.skills:hover li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
}

ul.skills li span {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
	transition: var(--t1);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
	opacity: 1;
    
	/* border-right-color: #2187e7; */
}
ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
}


ul.skills li span:after {
    position: absolute;
    right: -10px;
    top: 15px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    content: counter(percent) "%";
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    color: black;
}


/*********************/
/*** SKILLS VALUES ***/
/*********************/

ul.skills li.sk-cms { --per: 90; }
ul.skills li.sk-dis { --per: 65; }
ul.skills li.sk-dtb { --per: 67; }
ul.skills li.sk-pro { --per: 80; }
ul.skills li.sk-res { --per: 40; }

ul.skills li.sk-gim { --per: 95; }
ul.skills li.sk-ado { --per: 75; }
ul.skills li.sk-tre { --per: 90; } 
ul.skills li.sk-tri { --per: 45; }
ul.skills li.sk-wor { --per: 45; }


/* __________________________________RESUME___________________________________________________________________ */
.resumelink {
	margin-top: 200px;
    display: block;
}

.resumelink h1 {
	font-family: "Inter", sans-serif;
	font-size: 128px;
	margin-left: 40px;
	margin-top: 20px;
}

.resumelink hr {
	height: 10px;
	margin-left: 10px;
	margin-top: 20px;
	border-width: 0;
	width: 350px;
	background-color: #185EA0;
}

.resumelink h2 {
	font-family: "Inter", sans-serif;
	font-size: 2.3em;
	padding-left: 40px;
}

.resumelink p2 {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1.4em;
	margin-left: 40px;
}

.resumelink p2 span {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1.2em;
	font-weight: 650;
	line-height: 0;
}

.subheader {
	margin-top: -100px;
	display: inline-block;
}

.subheader hr {
	margin-top: 4px;
	width: 175px;
	height: 7px;
	background-color: #06FF9B;
}

.column, .column2 {
	float: left;
	width: 700px;
	height: 700px;
	background: white;
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1.5s ease;
}

.column.visible, .column2.visible {
	opacity: 1;
	transform: translateX(0);
}

.column2 {
	position:relative;
	margin-top: -695px;
	/* margin-left: 720px;  */
}

.next-btn {
	position: absolute;
	width: 50px;
	height: 5px;
	display: flex;
	align-items: center;
	/* justify-content: flex-start; */
	gap: 6px;
	cursor: pointer;
	margin-top: 650px;
	margin-left: 1200px;
	/* border: 3px solid rgb(255, 239, 94); */
	/* background-color: rgb(255, 239, 94); */
	/* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137); */
}
/* .buttontext {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(27, 27, 27);
	color: white;
  } */
  
.arrow {
	scale: 6;
}

  .arrow path {
	fill: rgb(0, 0, 0);
  }
  
  .next-btn:hover .arrow {
	/* animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
	scale: 6.5;
	color: #00EC97;
  }
  /* @keyframes slide-in-left {
	0% {
	  transform: translateX(-8px);
	  opacity: 0;
	}
  
	100% {
	  transform: translateX(0px);
	  opacity: 1;
	}
  } */
  
  .next-btn:active .arrow {
	transform: scale(0.97);
  }
  .rotate .arrow {
	transform: rotate(180deg);
  }

  /* __________________________________PORTFOLIO___________________________________________________________________ */

  .portfoliolink{
    box-sizing: border-box;
    /* display: block; */
}
.portfoliocontainer{
    margin-top: -50px;
    height: 1000px;

}

.portfoliolink h1 {
    font-family: "Inter", sans-serif;
    font-size: 128px;
    margin-left: 40px;
    margin-top: 20px;
}

.portfoliolink hr {
    height: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-width: 0;
    width: 350px;
    background-color: #185EA0;
}

.portfoliorow {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    grid-row-gap:15px ;
    margin: 50px;
    /* top: 50%; */
    width: 100%;
    max-width: 1200px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 0;
    
}
.portfoliocontent {
    /* background-color: rgb(255, 0, 0); */
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 400px;
    height: 300px;
    box-sizing: border-box; 
    place-content: center;
    place-items: center;
    position: relative;
}
.portfolioitems {
    object-fit: cover !important; 
    width:75%; 
    height: 75%; 
    margin-top: 20px; 
    border-radius: 8%;
    /* border: 5px solid transparent; */
    transition: border 0.3s;
    /* background: #e0e0e0; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 4;
}

.portfolioitems:hover{
    cursor: pointer;
    /* background-color: #06FF9B !important; */
    filter: brightness(50%)
    }
.portfolioitems.active{
    background-color: #06FF9B !important;
}
.portfoliocontent h1 {
    text-align: center;
    margin: auto;
    font-size: 1.3em;
}
.portfoliocontent span{
    /* display: block; */
    /* margin-top: 20px; */
}

.portfoliocontent img{
    /* border-radius: 7%; */
}

.portfoliocolumn {
    display: none; /* Hide columns by default */
    width: 300px;
    height: 300px;

}

.show {
    display: block; /* Use block display to enable grid layout */
}

@media screen and (max-width: 1200px) {
    .portfoliorow {
        grid-template-columns: auto;
    }
}



.myBtnContainer{
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    flex-wrap: wrap; /* Allow wrapping of buttons */
    gap: 8px; /* Add space between buttons */
    margin-top: 20px; /* Add some margin to the top */
}

.portfoliobtn {
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 12px 60px;
    background-color: transparent;
    float: left;
    cursor: pointer;
    text-align: center;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    /* width: 100%; */
}
.portfoliobtn:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
.portfoliobtn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.portfoliobtn:hover {
    /* background-color: #ddd; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.portfoliobtn:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  .portfoliobtn:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }

.portfoliobtn.active2 {
    background-color: #00EC97;
    color: white;
}

.previewbtn {
    width: 300px; 
    height: 225px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    /* filter: brightness(50%); */
    z-index: 5;
    border-radius: 8%;
    margin-top: -35px;
    font-size: 1.1em;
    color: #616161;
}

.previewbtn button {
    font-weight: bold;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.164);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
    top: 0;
    width: 150px;
    height: 150px;
    color: white;
}
/* .previewbtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
} */

.previewbtn img {
    width: 100px;
    height: 100px;
}

.portfoliocontent:hover .previewbtn {
    pointer-events: auto;
    opacity: 1; /* Show the button on hover */
}
.previewbtn:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.previewbtn:hover img{
    transition: ease 0.5s ;
    transform: scale(1.1);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding: 100px 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}
.close {
    position: absolute;
    top: 50px;
    z-index: 10;
    right: 330px;
    color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-weight: bold;
    transition: 0.3s;
    border: white;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.39);
}
.close:hover, .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: red;

}

.imageslider{
    position: relative;
    width:100%;
    margin: auto;
    overflow: hidden;
}
.imageslider img{
    width: 100%;
    display: none;
}
.displaySlide{
    /* width: 1000px; */
}
img.displaySlide{
    display: block;
    /* width: 500px; */
    /* height: 40%; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    /* object-fit: contain; */
}
.prev {
    left: 75px;
}

.next {
    right: 75px;
    /* border-radius: 3px 0 0 3px; */
}

.slides img {
    display: none;
}

.slides img.displaySlide {
    display: block;
    /* width: 70%; */
    object-fit: contain;
}


.prev:hover, .next:hover {
    transition: 0.5s;
   color:#01c4ff;
}

.imageslider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    user-select: none;
    padding: 0 120px;

}

/* ____________________________ABOUT_________________________________________________________________________ */
.contactlink{
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: bolder;

}

.contactlink h1{
    font-family: "Inter", sans-serif;
    font-size: 128px;
    margin-left: 40px;
    /* margin-top: 20px; */
}
.contactlink hr{
    height: 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-width: 0;
    width: 350px;
    background-color: #185EA0;
}

.contactcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1300px;
    margin-left: 40px;
}

.copy-container {
    display: flex;
    margin-top: -90px;
    text-align: center;
    align-items: center;
}


.copy-text {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}
#number1-to-copy{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.copy-text:hover {
    transition: 0.2s;
    color: #007bff;
    font-weight: bold;
}
.copy-text:active{
    color: green;
}

.card {
    position: relative;
    width: 20%;
    height: 200px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  }
  .copy-text::after {
    content: attr(data-tooltip); /* Use the data-tooltip attribute as the tooltip content */
    position: absolute;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    color: rgba(97, 97, 97, 0.507); /* Tooltip text color */
    padding: 5px 10px;
    border-radius: 10px; /* Rounded corners */
    white-space: nowrap; /* Prevent text wrapping */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide tooltip by default */
    transition: opacity 0.3s, visibility 0.3s; /* Smooth transition for visibility */
    z-index: 1; /* Ensure tooltip is above other elements */
    pointer-events: none; /* Prevent tooltip from capturing pointer events */
    top: -40px;
}

.copy-text:hover::after,
.copy-text:focus::after {
    opacity: 1; /* Show tooltip */
    visibility: visible; /* Make tooltip visible */
}
  
  .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .face.back {
    box-sizing: border-box;
    padding: 20px;
  }
  
  .face.back b {
    margin: 0;
    padding: 0;
  }
  
  .face.back .desc {
    background-color: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .face.front {
    transition: 0.5s;
  }
  
  .face.front b {
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .card:hover .face.front {
    height: 60px;
  }
  
  .card:hover .face.front b {
    font-size: 1.8em;
  }
  
  .face.front {
    background-color: #00ff80;
    border-radius: 15px;
  }
  .content {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  .custom-alert {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.show-alert {
    opacity: 1;
}

.number p{
    text-align: center;
}

.github-link {
    text-decoration: none;
    display: grid;
    padding: 10px;
    color: inherit; /* Ensure text inherits the color of the parent */
    transition: color 0.3s ease; /* Smooth transition for the color change */
}

.github-link:hover {
    color: #006ACB; /* Change to your desired hover color */
}