/* Side Navigation Bar */
.sidenavbar{
  display: flex;
  flex-direction: row;
}
.navlinks {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,255,126,1) 0%, rgba(0,255,194,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .navlinks a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 50px;
    /* padding-left: 50px; */
    text-decoration:none ;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;

  }
  
  .navlinks a:active,
  .navlinks a:hover{
    color: #00AFEC;
    text-decoration:underline;
  }

  .navlinks a.active {
    color: #00AFEC;
    text-decoration:underline;
}
.navtop{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    /* top: 10%; */
    /* margin-left: 15px; */
    position: fixed;
    z-index: 11;
    /* width: 8%; */
}

/* _____________________________________________________________________________________________________ */
  body {
    /* background: rgb(108,187,200); */
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(108,187,200,1) 0%, rgba(17,79,91,1) 100%);
    /* background-color: rgb(108,187,200); */

  }
/* _____________________________________________________________________________________________________ */
.cvplate{
    z-index: 2;
    position: absolute;
    left:240px;
    top: 0;
    background-color: white;
    height: auto;
    width: 1500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1080px) {
  .cvplate{
    left: 200px;
  }
}
.portrait {
  display: inline-flex;
  margin: 0;
  top: 0;
  height: 930px;
    /* position: absolute; */
    z-index: -1;
    /* left: 690px; */
    margin-top: -90px;
}
/* __________________________________HOME___________________________________________________________________ */
.homelink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home-text{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  /* padding: 10px 40px; */
  /* padding-left: 50px; */
  /* padding-top: 80px; */
  margin-bottom: 0;
}
.hometext1{
    color: rgb(24, 94, 160) ;
    /* margin-top: 66px;
    padding-left: 40px; */
    font-size: 2.7em;
}
.hometext2{
    font-size: 9.5em;
    /* padding-left: 40px;
    margin-top: -20px; */
}
.hometext3{
    /* margin-top: -50px; */
    /* padding-left: 40px; */
    font-weight: 500;
    font-size: 1.6em;
    color: #5E7583;
    margin: 0;
}
.homelink hr{
    height: 10px;
    margin-left: 10px;
    margin-top: 60px;
    border-width: 0;
    width: 350px;
    background-color: #185EA0;
}

.homebtncontainer{
    display: flex;
    margin-top: 0;
}
.resumeviewbtn{
    float: left;
    --width: 750px;
    --height: 99px;
    --tooltip-height: 35px;
    --tooltip-width: 200px;
    --gap-between-tooltip-to-button: 7px;
    --button-color: #00EC97;
    --tooltip-color: none;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    transition: background 0.3s;
    background-color: #00EC97;
     display: inline-block;
    font-family: "Inter", sans-serif;
        font-size: 1.5em;
      font-weight: bolder;
      color: white;
      display: flex;
      /* margin-top: 135px; */
      border-width: 0;
  }
  .resumeviewbtn span{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

  }
  .resumeviewbtn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    /* border-radius: .25em; */
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .resumeviewbtn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border:none;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .resumeviewbtn::after,.resumeviewbtn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .resume{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resumedlbtn,.resume,.download-icon{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #ffffff;
  }
  
  .resume{
    top: 0;
    background-color: #00EC97; 
    border: none;
  }
  .resume span{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .resume,.download-icon{
    transition: top 0.5s;
  }
  
  .download-icon{
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download-icon:hover{
    transform: scale(2);
    transition: 0.5s;
  }
  
  .download-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .resumeviewbtn:hover {
    background: #006ACB;
  }
  
  .resumeviewbtn:hover .resume{
    top: -100%;
  }
  
  .resumeviewbtn:hover .download-icon{
    top: 0;
  }
  
  .resumeviewbtn:hover:before,.resumeviewbtn:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .resumeviewbtn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .resumeviewbtn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
.portfolioviewbtn{
    --width: 750px;
    --height: 99px;
    --tooltip-height: 35px;
    --tooltip-width: 120px;
    --gap-between-tooltip-to-button: 7px;
    --tooltip-border-radius: 440px;
    --button-color: #006ACB;
    --tooltip-color: white;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    transition: background 0.3s;
    background-color: #006ACB;
    display: block;
    font-family: "Inter", sans-serif;
        font-size: 1.5em;
      font-weight: bolder;
      color: white;
      display: block;
      /* margin-top: 135px; */
      border-width: 0;
  }
  .portfolioviewbtn span{
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;

  }
  .portfolioviewbtn::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    /* border-radius: .25em; */
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .portfolioviewbtn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border:none;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .portfolioviewbtn::after,.portfolioviewbtn::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .portfoliohomebtn{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .viewportfoliobtn,.portfoliohomebtn,.view-icon{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #ffffff;
  }
  
  .portfoliohomebtn{
    top: 0;
    background-color: #006ACB; 
    border: none;
  }
  .portfoliohomebtn span{
    font-size: 1.5em;
    font-weight: bolder;
  }
  .portfoliohomebtn,.view-icon{
    transition: top 0.5s;
  }
  
  .view-icon{
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-icon:hover{
    transform: scale(2);
    transition: 0.5s;
  }
  
  .view-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .portfolioviewbtn:hover {
    background: #00EC97;
  }
  
  .portfolioviewbtn:hover .portfoliohomebtn{
    top: -100%;
  }
  
  .portfolioviewbtn:hover .view-icon{
    top: 0;
  }
  
  .portfolioviewbtn:hover:before,.portfolioviewbtn:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .portfolioviewbtn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .portfolioviewbtn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

/* ____________________________ABOUT_________________________________________________________________________ */
.aboutlink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}
.aboutlink-contentcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.aboutlink-text{
  width: 1400px;
  padding: 10px 40px;

}
@media only screen and (max-width: 1080px) {
  .aboutlink{
    flex-direction: column;
    flex-wrap: wrap;
    overflow: visible;
  }
  .aboutlink-contentcontainer{
    height: 1000px;
  }
}
.aboutlink-details{
  display: flex;
  flex-direction: column;
}
.aboutlink-header{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-left: 0;
}
.aboutlink h1{
    font-size: 128px;
    margin: 0;
    /* padding-left: 40px; */
    /* margin-top: 20px; */
}
.about-intro{
    /* display: block; */
    font-family: "Inter", sans-serif;
    text-align: justify;
    font-size: 2.5vh;
    line-height: 1.6;
    /* margin-top: -80px; */
    text-indent: 5%;
}
.aboutlink h2{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    /* padding-left: 40px; */
    margin-top: -15px;

}
.about-objectives{
    display: block;
    font-family: "Inter", sans-serif;
    /* padding: 10px 40px; */
    text-align: justify;
    font-size: 2.5vh;
    line-height: 1.6;
    margin-top: -40px;
    text-indent: 5%;
}


.profile-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
}



.profile-skills > div {
	width: 32%;
	margin-right: 3%;

	border-radius: 2px;
	position: relative;
}
.profile-skills {
	display: flex;
	top: 150px;
	position: relative;
	width: 100%;
	align-items: flex-start;
}
:root {
	--c1: #006ACB;
	--b2: rgb(255, 255, 255);
	--b3: #333;
	--w1: #fff;
	--w2: #eee;
	--t1: all 0.5s ease 0s;
}
/* *:before,
*:after {
	box-sizing: border-box;
	content: "";
} */


.skillmeter {
	width: 90%;
	/* margin-top: -130px; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.skillmeter-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.skill-button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin-bottom: 10px; */
    margin: 0;
    padding-left: 40px;
}

.skill-button:hover {
    color: #006ACB;
    transform: scale(1.1);
}

.skillbtn:active, .toolbtn:active{
	color: #006ACB;
	text-decoration: underline;
    transform: scale(1.1);
}
.skillbtn:focus, .toolbtn:focus{
	color: #006ACB;
	text-decoration: underline;
    transform: scale(1.1);
}


.profileskill-container{
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.profile-skills {
  /* display: inline-flex; */
  /* flex-direction: column; */
  align-items: flex-start;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
}
.toolskills{
  position: absolute;
  margin-top: -470px;
}

.skills {
    width: 100%;
    /* position: relative; */
}

.skills1 {
    background: white;
	z-index: 2;
    display: block; /* Always visible */
}

.skills2 {
  display: none; 
	/* background: white; */
}
.toolskills, .mainskills{
  position: relative;
}

ul.skills:before  {
    font-family: "Inter", sans-serif;
	position: absolute;
	/* top: -30px; */
	height: 50px;
	color: black;
	width: 100%;
	left: 0;
	font-weight: bold;
	/* z-index: 1; */
	transition: var(--t1);
	font-size: 25px;
	line-height: 35px;
	/* transform: scaleY(1.65); */
}
ul.skills2:hover:before,
label:hover + ul.skills2:before,
input:checked + label + ul.skills2:before {
	transition: var(--t1);
	/* background-color: #2187e7; */
	background-position: 0 50%;
}
ul.skills2:hover:after,
label:hover + ul.skills2:after,
input:checked + label + ul.skills2:after {
	top: -20px;
	transition: var(--t1);
	/* border-top-color: #2187e7; */
}


ul.skills li {
    --per: 50;
    --dur: calc(calc(var(--per) / 100) * 1.5s);
    margin: 0 0 5px 0;
    list-style: none;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
}

ul.skills li:before {
    content: "";
    position: absolute;
    background: #c1c1c141;
    height: 13px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

ul.skills2 li {
	--per: 50;
	--dur: calc(calc(var(--per) / 100) * 1.5s);
	margin: 0 0 5px 0;
	list-style: none;
	padding: 20px 0;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
}
ul.skills2 li:before {
	content: "";
	position: absolute;
	background: #c1c1c141;
	height: 13px;
	width: 100%;
	left: 0;
	bottom: 0;
	border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #01FF76;
    border-radius: 20px;
    position: absolute;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1.3s ease 0s 2 alternate;
}

ul.skills2 li:after {
	content: "";
	height: 11px;
	margin: 0 0 2px 0;
	background: #01c4ff;
    border-radius: 20px;
	position: absolute;
	/* box-shadow: 0px 0px 10px 1px #00c6ff66; */
	left: 3px;
	width: 0%;
	bottom: 0;
	transition: all var(--dur) ease 0s;
	animation: start 1.3s ease 0s 2 alternate;
}

ul.skills li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}
ul.skills2 li:hover {
	filter: brightness(1.5);
	transition: var(--t1);
}


ul.skills li:after {
    content: "";
    height: 11px;
    margin: 0 0 2px 0;
    background: #01FF76;
    border-radius: 20px;
    position: absolute;
    left: 3px;
    width: 0%;
    bottom: 0;
    transition: all var(--dur) ease 0s;
    animation: start 1.3s ease 0s 2 alternate;
}

ul.skills:hover li:after {
    width: calc(calc(var(--per) * 1%) - 2px);
}

ul.skills li span {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

ul.skills li span:before {
    position: absolute;
    right: -25px;
    top: 43px;
    transition: var(--t1);
    content: "";
    opacity: 1;
    border: 7px solid #fff0;
}

ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
	transition: var(--t1);
	right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
	opacity: 1;
    
	/* border-right-color: #2187e7; */
}
ul.skills li:hover span:before,
.profile-skills input:checked + label + ul.skills li span:before {
    transition: var(--t1);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 12px);
    opacity: 1;
}


ul.skills li span:after {
    position: absolute;
    right: -10px;
    top: 15px;
    transition: var(--t1);
    counter-reset: percent var(--per);
    content: counter(percent) "%";
    color: var(--b2);
    opacity: 1 !important;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    pointer-events: none;
}

ul.skills li:hover span:after,
.profile-skills input:checked + label + ul.skills li span:after {
    transition: var(--t1);
    right: calc(calc(85 - var(--per)) * 1%);
    right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
    opacity: 1;
    color: black;
}


/*********************/
/*** SKILLS VALUES ***/
/*********************/

ul.skills li.sk-cms { --per: 90; }
ul.skills li.sk-dis { --per: 65; }
ul.skills li.sk-dtb { --per: 67; }
ul.skills li.sk-pro { --per: 80; }
ul.skills li.sk-res { --per: 40; }

ul.skills li.sk-gim { --per: 95; }
ul.skills li.sk-ado { --per: 75; }
ul.skills li.sk-tre { --per: 90; } 
ul.skills li.sk-tri { --per: 45; }
ul.skills li.sk-wor { --per: 45; }


/* __________________________________RESUME___________________________________________________________________ */
.resumelink {
  
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.resume-header{
  display: flex;
  flex-direction: column;
  margin: 0;
	padding-left: 40px;

}
.resumelink h1 {
	font-family: "Inter", sans-serif;
	font-size: 128px;
  margin: 0;
}


.resumelink h2 {
	font-family: "Inter", sans-serif;
	font-size: 2.3em;
}

.resumelink p2 {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1.4em;
	margin-left: 40px;
}

.resumelink p2 span {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1.2em;
	font-weight: 650;
	line-height: 0;
}

.column-container {
	display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
  background-color: transparent;

  /* position: relative; */
}

.column-title hr {
	width: 175px;
	height: 7px;
  margin-left: 10px;
	background-color: #06FF9B;
}
.frontcolumn {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.nextcolumn {
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
}
.column, .column2 {
	/* background: white; */
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1.5s ease;
}

.column.visible, .column2.visible {
	opacity: 1;
	transform: translateX(0);
}


.column-text{
  width: 670px;
  background-color: transparent;
}
.resumenext-btn{
  position: absolute;
  float: right;
  right: 0;
  padding-right: 160px;
}
.next-btn {
  float: left;
	width: 50px;
	height: 5px;
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
  border: none;
}

.arrow {
	scale: 6;
}

  .arrow path {
	fill: rgb(0, 0, 0);
  }
  
  .next-btn:hover .arrow {
	scale: 6.5;
	color: #00EC97;
  }
  
  .next-btn:active .arrow {
	transform: scale(0.97);
  }
  .rotate .arrow {
	transform: rotate(180deg);
  }

  /* __________________________________PORTFOLIO___________________________________________________________________ */

  .portfoliolink{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    /* justify-content: space-evenly; */
}
.portfoliocontainer{
  display: flex !important; 
    /* margin-top: -50px; */
    /* width: 1300px; */
    height: 100% !important;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio-header{
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  
}
.portfoliolink h1 {
    font-family: "Inter", sans-serif;
    font-size: 128px;
    margin: 0;
    /* margin-left: 40px; */
    /* margin-top: 20px; */
}


.portfoliorow {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    /* gap: 80px; */
    /* grid-row-gap:15px ; */
    /* margin: 50px; */
    /* top: 50%; */
    width: 100%;
    /* max-width: 1200px; */
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* margin-top: 0; */
    
}
.portfoliocontent {
    /* background-color: rgb(255, 0, 0); */
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* float: left; */
    width: 400px;
    height: 300px;
    box-sizing: border-box; 
    place-content: center;
    place-items: center;
    /* position: relative; */
}
.portfoliocontent h1{
  padding: 20px;
}
.portfolioitems {
    object-fit: cover !important; 
    width:300px; 
    height: 230px; 
    /* margin-top: 20px;  */
    border-radius: 8%;
    /* border: 5px solid transparent; */
    transition: border 0.3s;
    /* background: #e0e0e0; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 4;
}

.portfolioitems:hover{
    cursor: pointer;
    /* background-color: #06FF9B !important; */
    filter: brightness(50%)
    }
.portfolioitems.active{
    background-color: #06FF9B !important;
}
.portfoliocontent h1 {
    text-align: center;
    margin: auto;
    font-size: 1.3em;
}

.portfoliocolumn {
    display: none; /* Hide columns by default */
    /* width: 300px; */
    /* height: 300px; */
    position: relative;
    align-items: center;
    justify-content: center;

}

.show {
    display: block; /* Use block display to enable grid layout */
}

/* @media screen and (max-width: 1200px) {
    .portfoliorow {
        grid-template-columns: auto;
    }
} */


.portfoliolink-button {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.myBtnContainer{
    display: flex;
    flex-wrap: wrap; 
    width: auto;
  justify-content: center;
}

.portfoliobtn {
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 12px 60px;
    background-color: transparent;
    /* float: left; */
    cursor: pointer;
    text-align: center;
    transition: .5s linear;
    position: relative;
    display: flex;
    overflow: hidden;
    /* width: 100%; */
    margin: 5px 20px;
}
.portfoliobtn:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
.portfoliobtn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.portfoliobtn:hover {
    /* background-color: #ddd; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.portfoliobtn:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  .portfoliobtn:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }

.portfoliobtn.active2 {
    background-color: #00EC97;
    color: white;
}
.portfolioimage-container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: fit-content;
}
.portfolioimage-container, .previewbtn {
  pointer-events: auto;
  opacity: 1; /* Show the button on hover */
}
.previewbtn {
  padding-top: 45px;
  text-decoration: none;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  opacity: 0;
  z-index: 5;
  border-radius: 8%;
  font-size: 1.1em;
  color: #616161;
  transition: opacity 0.5s ease;
}
.previewbtn button {
  font-weight: bold;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.164);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  width: 150px;
  height: 150px;
  color: white;
}

/* .previewbtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
} */

.previewbtn img {
    width: 100px;
    height: 100px;
}

.portfoliocontent:hover .previewbtn {
    pointer-events: auto;
    opacity: 1; /* Show the button on hover */
}
.previewbtn:hover{
    background: transparent;
    color: black;
}
.previewbtn:hover {
    transition: ease 0.5s ;
    transform: scale(1.1);
    cursor: pointer;
    filter: invert(1)
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 50;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.9);
} */

/* Ensure the modal covers the whole viewport */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}



/* Center the images */
.imageslider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slides img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}
.displaySlide {
  display: flex !important;
}

/* Previous and Next buttons */
.portfolioslider-btn {
  position: absolute;
  margin: 0 250px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.prev:hover, .next:hover {
  transition: 0.5s;
 color:#01c4ff;
}

.imageslider button{

  font-size: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  user-select: none;

} 
.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.portfolioslider-btn button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.portfolioslider-btn button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Close button styling */
.portfolioview-closebtn {
  position: absolute;
  z-index: 51;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
}
.close {
    color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
    border: white;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.39);
}
.close:hover, .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    background-color: red;

}



/* ____________________________CONTACTS_________________________________________________________________________ */

 .contact-sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #06FF9B;
  /* padding-top: 20px; */
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: width 0.5s; 
  overflow-x: hidden;
}
.contact-sidebar:hover {
  width: 250px; /* Width when hovered */
}

.contact-sidebar a, .contactdropdown-btn {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: justify-content 0.3s, padding 0.3s;
  white-space: nowrap;
}
.contact-sidebar .contactdropdown-btn .dropdown-logo,
.contact-sidebar .contactdropdown-btn .contact-text {
    display: none;
}

.contact-sidebar .contactdropdown-btn:hover {
  background-color:#00AFEC;
}

.contact-sidebar:hover .contactdropdown-btn {
    justify-content: space-between; 
    padding-left: 10px;
    padding-right: 10px;
}

.contact-sidebar:hover .contactdropdown-btn .dropdown-logo,
.contact-sidebar:hover .contactdropdown-btn .contact-text {
    display: inline; 
}
.contactdropdown-btn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-sidebar a:hover, .contactdropdown-btn:hover {
  background-color:#06ff9b33;
  
}
.contact-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.dropdown-container {
  display: none;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  background-color:#06ff9b33;
}

.dropdown-logo {
  float: right;
  padding: 8px;
}

.contact-icon{
  padding: 10px;
  float: left;
}

.contact-text {
  flex: 1;
  text-align: left;
  padding-left: 10px;
}